{% extends 'base.html' %}
{% load form_extras %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="columns is-centered">
  <div class="column is-5">
    <div class="card">
      <header class="card-header has-background-primary">
        <p class="card-header-title has-text-white">Log In</p>
      </header>
      <div class="card-content">
        <form method="post" novalidate>
          {% csrf_token %}
          {% if form.non_field_errors %}
          <div class="notification is-danger is-light">
            {% for err in form.non_field_errors %}{{ err }}<br>{% endfor %}
          </div>
          {% endif %}
          <div class="field">
            <label class="label">Username</label>
            <div class="control">{{ form.username|add_class:'input' }}</div>
            {% if form.username.errors %}<p class="help is-danger">{{ form.username.errors.0 }}</p>{% endif %}
          </div>
          <div class="field">
            <label class="label">Password</label>
            <div class="control">{{ form.password|add_class:'input' }}</div>
            {% if form.password.errors %}<p class="help is-danger">{{ form.password.errors.0 }}</p>{% endif %}
          </div>
          <div class="field is-grouped is-justify-content-space-between">
            <div class="control"><button class="button is-primary" type="submit">Login</button></div>
            <div class="control"><a href="{% url 'signup' %}" class="button is-light">Sign Up</a></div>
          </div>
          <p class="mt-3"><a href="{% url 'password_reset' %}">Forgot password?</a></p>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
