{% extends 'base.html' %}
{% block title %}Password Reset Complete{% endblock %}
{% block content %}
<div class="columns is-centered">
  <div class="column is-5">
    <div class="card">
      <header class="card-header has-background-primary">
        <p class="card-header-title has-text-white">Password Updated</p>
      </header>
      <div class="card-content">
        <p>Your password has been set. You may log in now.</p>
        <a href="{% url 'login' %}" class="button is-primary mt-3">Log In</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
