{% extends 'base.html' %}
{% block title %}My Appointments{% endblock %}
{% block content %}
<div class="columns is-centered">
  <div class="column is-8">
    <h1 class="title is-4">My Appointments</h1>
    {% if appointments %}
    <table class="table is-fullwidth is-striped">
      <thead>
        <tr>
          <th>Date & Time</th>
          <th>Vaccine</th>
          <th>Branch</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for a in appointments %}
        <tr>
          <td>{{ a.datetime|date:'Y-m-d H:i' }}</td>
          <td>{{ a.vaccine.name }}</td>
          <td><a href="{% url 'branch_detail' a.branch.pk %}">{{ a.branch.name }}</a></td>
          <td>
            <a class="button is-small is-light" href="{% url 'appointment_edit' a.pk %}">Edit</a>
            <a class="button is-small is-danger is-light js-appt-delete" href="{% url 'appointment_delete' a.pk %}" data-label="{{ a.vaccine.name }} @ {{ a.branch.name }} on {{ a.datetime|date:'Y-m-d H:i' }}">Delete</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
      <p class="has-text-grey">You have no appointments booked.</p>
    {% endif %}
    <div class="mt-4">
      <a class="button is-primary" href="{% url 'appointment_add' %}">Book Another Appointment</a>
      <a class="button is-light" href="{% url 'home' %}">Home</a>
    </div>
  </div>
</div>
{% endblock %}
